In [1]:
import os
import requests
import pandas as pd
import json

from dotenv import load_dotenv
load_dotenv()

%matplotlib inline

In [2]:
iex_api_key = os.getenv("IEX_API_KEY")
iex_test_api_key = os.getenv("IEX_TEST_API_KEY")

base_url = 'https://cloud.iexapis.com/stable/'
sandbox_url = 'https://sandbox.iexapis.com/stable/'


token = os.environ.get('IEX_API_KEY')
test_token = os.environ.get('IEX_TEST_API_KEY')
params = {'token': token}
test_params = {'token': test_token}

resp = requests.get(base_url + 'status')
resp

In [3]:
def call_test_api(stock_ticker,paramater):
    
    resp = requests.get(sandbox_url+'stock/'+stock_ticker+'/'+paramater+'?token='+test_token)
    return resp

def call_test_chart_api(stock_ticker):
    
    resp = requests.get(sandbox_url+'stock/'+stock_ticker+'/chart?token='+test_token)
    return resp

def call_api(stock_ticker,paramater):
    
    resp = requests.get(base_url+'stock/'+stock_ticker+'/'+paramater+'?token='+token)
    return resp

def call_chart_api(stock_ticker):
    
    resp = requests.get(base_url+'stock/'+stock_ticker+'/chart?token='+token)
    return resp

In [4]:
## https://sandbox.iexapis.com/stable/stock/IBM/quote?token=YOUR_TEST_TOKEN_HERE

In [5]:
tsla_resp = call_test_api("TSLA","quote")
tsla_json = tsla_resp.json()

In [6]:
tsla_resp = call_test_chart_api("TSLA")
tsla_price_data = pd.DataFrame(tsla_resp.json())
tsla_price_data_2 = tsla_price_data
tsla_price_data_3 = tsla_price_data
tsla_price_data.head()

,close,high,low,open,symbol,volume,id,key,subkey,date,...,uLow,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent
0,706.40,721.7655,683.6637,692.937,TSLA,20849555,ICC_OSIRAHPTELSRI,ASLT,,2021-08-23,...,682.8477,20621801,699.133,720.60,714.9497,692.7774,20974190,"Aug 23, 21",0.000000,0.0000
1,734.70,739.2500,721.9800,721.980,TSLA,13452024,EILCSA_RPTIHCOSRI,SALT,,2021-08-24,...,703.6700,13669999,734.200,738.57,745.3400,709.3700,13123727,"Aug 24, 21",2.291729,0.0031
2,715.70,744.2900,715.7000,738.390,TSLA,12760236,CRSIAOICHLRSETIP_,STAL,,2021-08-25,...,724.0000,12928852,728.470,737.80,751.8500,706.0000,13224412,"Aug 25, 21",2.813006,0.0038
3,728.59,729.7000,712.5700,712.570,TSLA,13841788,CP_LOISACSRIHTERI,TLSA,,2021-08-26,...,707.5661,13464011,712.780,720.99,748.2000,703.7785,13650735,"Aug 26, 21",-10.351011,-0.0146
4,720.62,736.0000,717.7226,736.000,TSLA,14434742,IRP_HLICSTSREOICA,TLSA,,2021-08-27,...,703.9677,14044745,709.000,746.53,726.0000,705.9966,14024324,"Aug 27, 21",11.217682,0.0157

In [7]:
## Slice closing data and date 
def get_date_and_close(data):
    data = data.set_index('date')
    returned = data[['close']]
    symbol = data.iloc[0,4]
    returned.rename(columns={'close':symbol},inplace=True)
    return returned

# def bla(data):
#     data = data.set_index('date')
#     returned = data[['close']]
#     symbol = data.iloc[0,4]
#     #returned.rename(columns={'close':"TSLA"},inplace=True)
#     return symbol

In [8]:
tsla_price_data.set_index('date')
tsla_price_data.head()

,close,high,low,open,symbol,volume,id,key,subkey,date,...,uLow,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent
0,706.40,721.7655,683.6637,692.937,TSLA,20849555,ICC_OSIRAHPTELSRI,ASLT,,2021-08-23,...,682.8477,20621801,699.133,720.60,714.9497,692.7774,20974190,"Aug 23, 21",0.000000,0.0000
1,734.70,739.2500,721.9800,721.980,TSLA,13452024,EILCSA_RPTIHCOSRI,SALT,,2021-08-24,...,703.6700,13669999,734.200,738.57,745.3400,709.3700,13123727,"Aug 24, 21",2.291729,0.0031
2,715.70,744.2900,715.7000,738.390,TSLA,12760236,CRSIAOICHLRSETIP_,STAL,,2021-08-25,...,724.0000,12928852,728.470,737.80,751.8500,706.0000,13224412,"Aug 25, 21",2.813006,0.0038
3,728.59,729.7000,712.5700,712.570,TSLA,13841788,CP_LOISACSRIHTERI,TLSA,,2021-08-26,...,707.5661,13464011,712.780,720.99,748.2000,703.7785,13650735,"Aug 26, 21",-10.351011,-0.0146
4,720.62,736.0000,717.7226,736.000,TSLA,14434742,IRP_HLICSTSREOICA,TLSA,,2021-08-27,...,703.9677,14044745,709.000,746.53,726.0000,705.9966,14024324,"Aug 27, 21",11.217682,0.0157

In [9]:
tsla_only_data = tsla_price_data[['symbol','close','high']]
tsla_only_data.head()

  symbol   close      high
0   TSLA  706.40  721.7655
1   TSLA  734.70  739.2500
2   TSLA  715.70  744.2900
3   TSLA  728.59  729.7000
4   TSLA  720.62  736.0000

In [10]:
tsla_only_data_2 = get_date_and_close(tsla_price_data_2)
tsla_only_data_2.head()

C:\Users\watso\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

              TSLA
date
2021-08-23  706.40
2021-08-24  734.70
2021-08-25  715.70
2021-08-26  728.59
2021-08-27  720.62

In [11]:
def get_apicall_and_slicedata(stock_ticker):
    
    resp_data = requests.get(sandbox_url+'stock/'+stock_ticker+'/chart?token='+test_token)
    resp_json = pd.DataFrame(resp_data.json())  
    
    data = resp_json.set_index('date')
    returned = data[['close']]
    symbol = data.iloc[0,4]
    returned.rename(columns={'close':symbol},inplace=True)
    return returned

In [12]:
aapl_df = get_apicall_and_slicedata("TSLA")
aapl_df.head()

C:\Users\watso\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

              TSLA
date
2021-08-23  711.20
2021-08-24  712.73
2021-08-25  723.40
2021-08-26  732.12
2021-08-27  713.89

In [13]:
## GET /stock/{symbol}/chart/{range}/{date}
## chartCloseOnly

def get_apicall_and_slicedata_10years(stock_ticker):
    
    resp_data = requests.get(sandbox_url+'stock/'+stock_ticker+'/chart/10y?token='+test_token)
    resp_json = pd.DataFrame(resp_data.json())  
    
    data = resp_json.set_index('date')
    returned = data[['close']]
#     symbol = data.iloc[0,4]
    symbol = stock_ticker
    returned.rename(columns={'close':symbol},inplace=True)
    return returned

In [14]:
stock_ticker = 'TSLA'

resp_data = requests.get(sandbox_url+'stock/'+stock_ticker+'/chart/10y?token='+test_token)
resp_data

In [15]:
resp_df = pd.DataFrame(resp_data.json())

In [16]:
resp_df.head()

,close,high,low,open,symbol,volume,id,key,subkey,date,...,uLow,uVolume,fOpen,fClose,fHigh,fLow,fVolume,label,change,changePercent
0,5.469,5.545,5.155,5.155,TSLA,6010199,RCLEIICHSTOSAI_PR,TLSA,,2011-09-23,...,26.58,1173257,5.242,5.303,5.330,5.220,5959732,"Sep 23, 11",0.000000,0.0000
1,5.256,5.562,5.140,5.312,TSLA,4742565,ACHSEIPRLITOR_CIS,TASL,,2011-09-26,...,24.90,956882,5.471,5.113,5.315,5.160,4763251,"Sep 26, 11",-0.172342,-0.0335
2,5.354,5.595,5.131,5.400,TSLA,3416409,SSLACTPEIRHRIIO_C,ALTS,,2011-09-27,...,26.18,692777,5.400,5.336,5.399,5.277,3529778,"Sep 27, 11",0.138066,0.0274
3,5.019,5.500,5.019,5.400,TSLA,3648433,CPHEI_RRIILSTCASO,TSLA,,2011-09-28,...,25.43,734916,5.400,5.074,5.400,4.954,3709477,"Sep 28, 11",-0.332033,-0.0619
4,4.864,5.383,4.800,5.160,TSLA,4852207,CTEILPOISR_HSRAIC,LATS,,2011-09-29,...,24.71,938889,5.163,4.840,5.378,4.880,4756901,"Sep 29, 11",-0.098652,-0.0199

In [17]:
def fix_data(data_df):
    data = data_df.set_index('date')
    returned = data[['close']]
    symbol = data.iloc[0,4]
    returned.rename(columns={'close':symbol},inplace=True)
    return returned

In [18]:
fixed_data = fix_data(resp_df)
fixed_data.head()

C:\Users\watso\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

             TSLA
date
2011-09-23  5.469
2011-09-26  5.256
2011-09-27  5.354
2011-09-28  5.019
2011-09-29  4.864

In [19]:
tenyr_tsla_data = get_apicall_and_slicedata_10years("AAPL")

C:\Users\watso\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
tenyr_tsla_data.tail()

              AAPL
date
2021-09-16  154.58
2021-09-17  152.44
2021-09-20  146.06
2021-09-21  145.91
2021-09-22  151.31

In [26]:
tickers = ['GME','AMC','AMZN','WMT','NVDA','AMD','AAPL','MSFT','DIS','PYPL']

In [22]:
# GME = get_apicall_and_slicedata_10years('GME')
# GME.head()

In [27]:
combined_df = pd.DataFrame()

for i in tickers:
    
    if i == 0:
        combined_df = pd.DataFrame(get_apicall_and_slicedata_10years(i))
    else:
        df = get_apicall_and_slicedata_10years(i)
        combined_df = pd.concat([combined_df,df], axis="columns")

# column_appended_data = pd.concat([msft_df, sp500_df], axis="columns", join="inner")
# column_appended_data

C:\Users\watso\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [28]:
combined_df.head()

,GME,AMC,AMZN,WMT,NVDA,AMD,AAPL,MSFT,DIS,PYPL
date,,,,,,,,,,
2011-09-23,23.01,NaN,233.22,53.00,3.5141,6.25,14.6680,25.680,30.42,NaN
2011-09-26,24.14,NaN,232.33,53.83,3.4980,6.40,14.7649,26.460,31.70,NaN
2011-09-27,24.27,NaN,231.75,52.53,3.5100,6.61,14.9517,26.920,32.17,NaN
2011-09-28,24.13,NaN,236.01,51.80,3.4610,6.35,14.4853,26.713,30.73,NaN
2011-09-29,24.51,NaN,224.04,54.05,3.3924,5.56,14.6026,26.360,31.69,NaN

In [29]:
combined_df.tail()

,GME,AMC,AMZN,WMT,NVDA,AMD,AAPL,MSFT,DIS,PYPL
date,,,,,,,,,,
2021-09-16,211.16,48.31,3587.22,148.50,232.01,107.89,149.35,310.24,186.40,288.98
2021-09-17,205.25,45.00,3571.13,146.25,226.00,107.31,152.87,314.75,191.63,283.98
2021-09-20,200.30,41.34,3519.41,146.94,217.06,103.86,143.42,296.70,184.93,271.60
2021-09-21,192.03,40.59,3446.98,148.72,212.74,107.13,150.40,300.90,176.83,280.38
2021-09-22,192.18,41.55,3424.26,148.77,230.15,105.33,149.41,307.80,178.14,280.73